*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url("../img/Round-6-Banner-teoriais-1130x580.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

header{
    margin-top: -20px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
}

main{
   
    margin-top: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.315);
    padding: 30px;
    width: max-content;
    height: 815px;
    border-radius: 11px;
}

.quadrado{
    text-align: center;
    width: 55px;
    height: 66px;
    color: rgb(241, 187, 70);
    background-color: rgb(241, 187, 70);
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.jogador, .vencedor{
    font-weight: bolder;
    font-size: 20px;
    margin: 10px;
}

.painel-base{
    color: white;
    background-color: #F44788;
    display: inline-block;
    padding: 20px;
    margin-top: 15px;
    width: 370px;
    height: 110px;
    border-radius: 100px;
}

button{
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #129191;
}
 
button:hover{
    transition: 200ms;
    color: #19CACA;
    background-color: white;
    border: solid 1px #19CACA;
    cursor: pointer;
}

.play-de-musica{
    margin-top: 20px;
    text-align: center;
}

/*Confugurar exibição de particulas*/
#particles-container{ 
    z-index: -1;
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 100% 100%; 
  }